// Colors;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-darrk: #28b485;
$color-dark: #000;
$color-white: #fff;
$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;

// Grid;
$gird-witdth: 114rem;
$grid-gutter-vert: 4rem;
$grid-gutter-hori: 2rem;
