.composition {
    position: relative;
    background: $color-primary;
    transition: all 0.3s;

    &__photo {
        width: 55%;
        outline-offset: 2rem;
        box-shadow: 0 10px 20px rgba($color-dark, 0.6);
        position: absolute;
        z-index: 10;
        transition: all 0.3s;

        &:hover {
            outline: 1.5rem solid $color-primary-darrk;
            transform: scale(1.08) translateY(-5px);
            box-shadow: 0 10px 40px rgba($color-dark, 0.7);
            z-index: 20;
        }

        &-p1 {
            left: 0;
            top: -2rem;   
        }

        &-p2 {
            right: 0;
            top: 2rem;
        }

        &-p3 {
            left: 20%;
            top: 10rem;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.9);
    }
}
